.title-text {
  text-align: center;
  padding-bottom: 70px;
}
.title-text h2 {
  margin: auto;
  font-size: 50px;
  color: #222222;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.title-text h2::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#222222, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.title-text h1 {
  font-size: 50px;
}
